.user-component {
    display: flex;
    height: 78px;
    width: auto;

    padding-left: 12px;
    padding-right: 12px;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
}

.user-component:first-child {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: lightgray;
}

.user-component-left {
    float: left;
    margin: 12px;
}

.user-component-right {
    float: right;
    margin: 12px;
}

div.user-initials {

    width: 54px;
    height: 54px;
    line-height: 54px;

    border-radius: 50%;

    font-size: 1.2em;
    text-align: center;
    text-transform: capitalize;

    color: white;
    background-color: #ccc;
}

div.user-initials.highlighted {
    background-color: #3c67ff;
}

div.user-component-center {
    width: 100%;

    padding-top: 19px;
    padding-bottom: 19px;
}

span.user-name {
    color: black;
    font-size: 1.2em;
}

span.user-email {
    color: #ccc;
    font-size: 0.9em;
}

div.user-action {
    text-align: center;

    border-radius: 50%;
    width: 60px;
    height: 60px;
    color: #ccc;
}

div.user-action > .mdi {
    font-size: 2.2em;
}

div.user-action > span.user-action__text {
    font-size: 0.9em;
    color: #ccc;
}

.clickable {
    cursor: pointer;
}