div.team-component {
    max-width: 500px;
}

div.centered {
    margin-left: auto;
    margin-right: auto;
}

div.team-component-header {
    margin-left: 12px;
    margin-right: 12px;
}

div.team-component-header {
    height: 62px;
}

div.team-component-header-left {
    float: left;
    height: 62px;
}

div.team-component-header-right {
    float: right;
    height: 62px;
}

h3.team-component-header__title {
    color: #1b1b1b;
    text-transform: uppercase;
}

div.search-box-input {
    margin: 10px auto;
}

span.search-box-input__icon {
    font-size: 1.4em;
    color: #1b1b1b;
}

span.search-box-input__text {
    font-size: 1.4em;
}

input[type=text] {
    font: inherit;
    border: none;
    padding: 12px;
    outline: none;
    text-align: left;
}

input.search-box-input {
    color: #6f6f6f;
}

input.search-box-input.search-box-input__text {
    width: 80px;
    text-overflow: ellipsis;
}

input.search-box-input.search-box-input__text:focus {
    width: 160px;
}

input.expand-animation {
    -webkit-transition: width 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
    -moz-transition: width 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
    -o-transition: width 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
    transition: width 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
}